<html>
<head>
<title>Utility Calculator</title>
<link href="./style.css" rel="stylesheet" type="text/css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
</head>
	<body ng-app="">
  	<div style="width:70%;padding:20px;">
	<table class="budget-calculator1">
    <thead>
	<tr class="title">	
      <th align="center">Utility</th>
      <th align="Center">Start Reading</th>
      <th align="Center">End Reading</th>
      <th align="Center">Usage</th>
      <th align="Center">Cost per Unit</th>
      <th>Total</th>
    </tr>
      <tr class="title">
        <th colspan="4">Electricity Services</th>
        <th>Sub-Total</th>
        <td valign="middle">
        <label for="totalEb">$</label>
        <span id="totalEb" ng-class="{red:(totalEb>30), black:(totalEb<=30)}">{{totalEb=(totalEb1)}}</span>
       </td>
    </tr>
      </tr>
    </thead>
    <tbody>
    <tr>
       <th align="top">
         EB Split1
       </th>
       <td>
         <input ng-model="startReadEb1" type="number" value="0" id="startReadEb1">
       </td>
       <td>
        <input ng-model="endReadEb1" type="number" value="0" id="endReadEb1">
       </td>
       <td>
          <span id="usageEb1">{{usageEb1=(endReadEb1-startReadEb1)}}</span>
          <label for="usageEb1"> Kwh</label>
       </td>
       <td>
         <label for="costPerEb1">$</label>
         <input ng-model="costPerEb1" type="number" value="0.2072" id="costPerEb1">
       </td>
       <td valign="middle">
         <label for="totalEb1">$</label>
         <span id="totalEb1" ng-class="{red:(totalEb1>30), black:(totalEb1<=30)}">{{totalEb1=usageEb1*costPerEb1}}</span>
       </td>
    </tr>
   <!-- <tr>
       <th align="top">
         EB Split2
       </th>
       <td>
         <input ng-model="startReadEb2" type="number" value="0" id="startReadEb2">
       </td>
       <td>
         <input ng-model="endReadEb2" type="number" value="0" id="endReadEb2">
       </td>
       <td>
          <span id="usageEb2">{{usageEb2=(endReadEb2-startEb2)}}</span>
          <label for="usageEb2"> Kwh</label>
       </td>
       <td>
         <label for="costPerEb2">$</label>
         <input ng-model="costPerEb2" type="number" value="0" id="costPerEb2">
       </td>
       <td valign="middle">
         <label for="totalEb2">$</label>
         <span id="totalEb2" ng-class="{red:(totalEb2>30), black:(totalEb2<=30)}">{{totalEb2=usageEb2*costPerEb2}}</span>
       </td>
    </tr> -->
   
    <thead>
      <tr class="title">
       <th colspan="4">Water</th>
       <th>Sub-Total</th>
       <td valign="middle">
        <label for="totalWt">$</label>
        <span id="totalWt" ng-class="{red:(totalWt>30), black:(totalWt<=30)}">{{totalWt=(totalRef+totalFitting+totalWtTax+totalWtFee+totalWt1)}}</span>
       </td>
      </tr>
    </thead>
    <tbody>
    <tr>
       <th align="top">
         Water Split1
       </th>
       <td>
         <input ng-model="startReadWt1" type="number" value="0" id="startReadWt1">
       </td>
       <td>
         <input ng-model="endReadWt1" type="number" value="0" id="endReadWt1">
       </td>
       <td>
          <span id="usageWt1">{{usageWt1=(endReadWt1-startReadWt1)}}</span>
          <label for="usageWt1"> Cu M</label>
       </td>
       <td>
         <label for="costPerWt1">$</label>
         <input ng-model="costPerWt1" type="number" value="1.19" id="costPerWt1">
       </td>
       <td valign="middle">
         <label for="totalWt1">$</label>
         <span id="totalWt1" ng-class="{red:(totalWt1>30), black:(totalWt1<=30)}">{{totalWt1=usageWt1*costPerWt1}}</span>
       </td>
    </tr>
    <!--<tr>
       <th align="top">
         Water Split2
       </th>
       <td>
         <label for="startReadWt2">R</label>
         <input ng-model="startReadWt2" type="number" value="0" id="startReadWt2">
       </td>
       <td>
         <label for="endReadWt2">R</label>
         <input ng-model="endReadWt2" type="number" value="0" id="endReadWt2">
       </td>
       <td>
          <span id="usageWt2">{{usageWt2=(endReadWt2-startWt2)}}</span>
          <label for="usageWt2">Kwh </label>
       </td>
       <td>
         <label for="costPerWt2">$</label>
         <input ng-model="costPerWt2" type="number" value="0" id="costPerWt2">
       </td>
       <td valign="middle">
         <label for="totalWt2">$</label>
         <span id="totalWt2" ng-class="{red:(totalWt2>30), black:(totalWt2<=30)}">{{totalWt2=usageWt2*costPerWt2}}</span>
       </td>
    </tr> -->
    <tr>
     <th colspan="3">Waterborne Fee</th>
     <td><span>{{totalUsageWt=usageWt1+usageWt2}}</span></td>
     <td>
        <label for="costWt">$</label>
        <input ng-model="costWt" type="number" value="0.7800" id="costWt">
     </td>
     <td>
        <label for="totalWtFee">$</label>
        <span id="totalWtFee">{{totalWtFee=totalUsageWt*costWt}}</span>
     </td>
    </tr>
    
    <tr>
     <th colspan="3">Water conserve Tax</th>
     <td><span>{{totalWtAmt=totalWt1+totalWt2}}</span></td>
     <td>
        <label for="costWtTax"> % </label>
        <input ng-model="costWtTax" type="number" value="35" id="costWtTax">
     </td>
     <td>
        <label for="totalWtTax">$</label>
        <span id="totalWtTax">{{totalWtTax=totalWtAmt*costWtTax/100}}</span>
     </td>
    </tr>
    <tr>
     <th colspan="3">Sanitary Appliance Fee</th>
     <td><input ng-model="fitting" type="number" value="2" id="fitting"> Fittings</td>
     <td>
        <label for="costFitting"> $</label>
        <input ng-model="costFitting" type="number" value="2.8037" id="costFitting">
     </td>
     <td>
        <label for="totalFitting">$</label>
        <span id="totalFitting">{{totalFitting=fitting*costFitting}}</span>
     </td>
    </tr>
	    
    <tr>
     <th colspan="3">Refuse Removal</th>
     <td><input ng-model="refQty" type="number" value="1" id="refQty"> Qty</td>
     <td>
        <label for="costRef"> $</label>
        <input ng-model="costRef" type="number" value="7.71" id="costRef">
     </td>
     <td>
        <label for="totalRef">$</label>
        <span id="totalRef">{{totalRef=refQty*costRef}}</span>
     </td>
    </tr>
	</tbody>
	<thead>
      <tr class="title">
       <th colspan="5">SubTotal</th>
       <td valign="middle">
        <label for="subTotal">$</label>
        <span id="subTotal" ng-class="{red:(subTotal>30), black:(subTotal<=30)}">{{subTotal=(totalWt+totalEb)}}</span>
       </td>
      </tr>
	  <tr>
		<th colspan="3">GST</th>
		<td><label for="subTotal">$</label><span>{{subTotal}}</span></td>
		<td>7%</td>
		<td><span id="gstAmt">{{gstAmt=subTotal*7/100}}</span></td>
	  </tr>
    </thead>
	<thead>
      <tr class="title">
	  <th colspan="5">Current Charges</th>
	  <th><label for="subTotal">$</label><span id="curChrg">{{subTotal+gstAmt}}</span>
	  </tr>
	</thead>    
   </table>
  </body>
</html>
